* {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(252, 250, 250);
    text-decoration: none;
    text-align: center;
}

body {
    background-image: url('https://i.pinimg.com/originals/49/ca/fe/49cafe61f30e6da84ac47abfd7fbea9a.png');
    background-size: cover; /* Asegura que la imagen cubra toda la página */
    background-position: center; /* Centra la imagen de fondo */
    background-attachment: fixed; /* Hace que la imagen se mantenga fija al hacer scroll */
}

.Titulo_Principal {
    padding: 40px;
}

nav ul {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    list-style: none;
    background-color: rgb(252, 50, 50);
}

nav li {
    display: inline-flex;
}

nav a {
    padding: 20px;
    width: 150px;
}

nav ul a:hover {
    background-color: rgb(233, 0, 0);
}

.InformacionEquipos {
    display: flex;
    flex-direction: column; /* Coloca los artículos uno debajo del otro */
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

.MundialPilotos,
.MundialConstructores,
.RedBull,
.McLaren,
.Ferrari {
    width: 80%;
    margin: 20px auto;
    background-color: rgba(255, 0, 0, 0.295);
    border-radius: 10px;
}

.MundialPilotos h2,
.MundialConstructores h2,
.RedBull h2,
.McLaren h2,
.Ferrari h2 {
    width: 90%;
    padding: 15px;
}

.MundialPilotos p,
.MundialConstructores p,
.RedBull p,
.McLaren p,
.Ferrari p {
    width: 90%;
    padding: 15px;
}

/* Imágenes de Mundial de Pilotos y Mundial de Constructores */
.MundialPilotos img,
.MundialConstructores img {
    width: 45%; /* Reduce el tamaño de las imágenes */
}

/* Imágenes de RedBull, McLaren, y Ferrari */
.RedBull img,
.McLaren img,
.Ferrari img {
    width: 25%; /* Ajusta el tamaño de las imágenes al 50% del contenedor */
    border-radius: 10px;
}

footer{
    background-color:rgb(252, 50, 50) ;
    width: 80%;
    margin: auto;
    border-radius: 10px;
}

footer h2, p{
    padding: 5px;
}
